{% extends "base_main.html" %}
{% load crispy_forms_tags %}

{% load render_table from django_tables2 %}

{% block content %}

<div class="container">
	<h2>Lista de Cartaportes</h2>
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Lista Cartaportes</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	<body>
		<form method="GET" action="">
			{% csrf_token %}
			{% crispy form %}
		</form>
		
		{% if cartaportes %}
			{% render_table table %}
		{% else %}
			<p>No hay cartaportes registrados</p>
		{% endif %}
	</body>
	</html>
</div>

{% endblock %}
